.informationtype label {

    color: #fcfbfb;
    background-color: #7b2cbf;
    border-radius: 6px;
    font-size: 20px;
}

.informationtype input {
    color: #000000;
    padding: 8px 50px;
    border-radius: 6px;
    font-size: 20px;
    text-align: center;

}

.informationtype select {
    color: #000000;
    padding: 8px 50px;
    border-radius: 6px;
    font-size: 20px;
}

.information {
    margin-top: 30px;
}

.main-profile {
    justify-content: center;
    display: flex;
    
    height: 100vh;
}

.all-button {
    display: flex;

}

.informationtype {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


.information-form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: #eca72c;
    border-radius: 12px;
}


    

#del-button{
    background-color: #ee5622;
}
#del-button:hover{
    background-color: #cc5803;
}

.select-g {
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .main-profile {
        flex-direction: column;
    }

    .main-profile {
        flex-direction: column;
    }

   

    .information {
        margin-top: 30px;
       
        flex-direction: column;
        }

    

     /*  .information-form {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .select-g {
        padding-left: 0px;
    }

    .informationtype input {
        padding: 8px 10px;
    }

    .informationtype select {
        padding: 8px 10px;
    }

    .informationtype label {
        padding: 8px 10px;
    }

    .all-button {
        flex-direction: column;
    } */
}